extends ../template

block variables
    - var title = "Мои работы"

block content 
    h1 Обо мне
    ul 
        li 1999г. - 2003г. - учёба в Минском Государственном Энергетическом Колледже. Специальность - техник-теплотехник.
        li 2005г. - 2011г. - учёба в Белорусском Национальном Техническом Университете. Специальность - инженер-энергоменежер.
        li 2003г. - 2007г. - работа на Минской ТЭЦ-4, слесарем 5-го разряда по ремонту и обслуживанию КИПиА.
        li 2007г. - 2017г. - работа на Минском Электротехническом Заводе.Старший мастер.
        li 2017г. - по настоящее время - Индивидульный Предприниматель(отделочные работы частных объектов).
    p Меня зовут Андрей. Я работаю отделочникам. Решил получше узнать смежную профессию, чтобы разобраться как устроен веб. Живу в Минске. Люблю строить частные дома.
    