extends ../template

block variables
    - var title = "Мои работы"

block content 
    h1 Мои работы по JS и Python
    ul 
        li 
            a(href='https://github.com/Dewwerd82') Все работы(https://github.com/Dewwerd82)